/*Less code*/
body {
  background-color: #708A67;
}
.section {
  background-color: #586d51;
}
/*CSS code*/
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10%;
}
.header {
  width: 100%;
  background-position: center;
  border-radius: 10px;
}
.menu-bar {
  width: 100%;
  background-color: #708A67;
  overflow: hidden;
}
.menu-bar a:hover {
  background-color: #582812;
  transform: rotate(360deg);
}
.menu-bar a {
  float: left;
  text-align: center;
  width: 16.5%;
  padding: 4px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-family: Gabriola;
}
.picture {
  margin-left: 50%;
  padding: 5px;
  border-radius: 10px;
}
.text {
  padding-top: 10px;
}
#header {
  grid-area: header;
}
