/*Less code*/
body {
  background-color: #708A67;
}
/*CSS code*/
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10%;
}
.header {
  width: 100%;
  background-position: center;
  border-radius: 10px;
}
.menu-bar {
  width: 100%;
  background-color: #708A67;
  overflow: hidden;
}
.menu-bar a:hover {
  color: #582812;
  transform: rotate(360deg);
}
.menu-bar a {
  float: left;
  text-align: center;
  width: 16.5%;
  padding: 4px 0;
  transition: all 1s ease;
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-family: Gabriola;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: text;
  margin-top: 40px;
}
.item3 {
  grid-area: picture;
  margin-top: 40px;
}
.grid-container {
  padding: 10px;
  grid-gap: 10px;
  display: grid;
  grid-template-areas: 'header header' 'text picture';
}
